<%= link_to 'Back', pins_path %> 

<h1>Edit</h1>

<%= render 'form' %>


<%= link_to 'View', @pin %> |
<%= link_to @pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>

