<%= link_to 'Back', pins_path %> 

<h4>Add a pic if this has been kicked</h4>

<%= render 'form' %>


<%= link_to 'View', @pin %> |
<%= link_to 'Delete', @pin, method: :delete, data: { confirm: 'Are you sure?' } %>

