<%= link_to 'Back', :back, class: "btn btn-default" %>

<font color="white">
<h4>Add a photo to kick this from your list!</h4>
</font>

<%= render 'form' %>


<%= link_to 'View', @pin %> |
<%= link_to 'Delete', @pin, method: :delete, data: { confirm: 'Are you sure?' } %>

