<%= link_to 'Back', pins_path %>
<p><br>
<%= image_tag @pin.image.url(:medium) %>
  <strong></strong></p>
  <%= @pin.description %>
</p>

<% if @pin.user == current_user %> 
	<%= link_to 'Edit', edit_pin_path(@pin) %> 
<% end %> 
