<body background="https://s3.amazonaws.com/kickthelist/media/images/CityScape.jpg">

		<div class="jumbotron center">
			<h1>KickTheList</h1>

			
			<% if user_signed_in? %>
		          <%= link_to "discover", pins_path %>
		     
		     <% else %>
					<p>Create your list of awesome things to do. Then do them! #KickTheList</p>
						<%= link_to "log in", new_user_session_path, class: "btn btn-primary" %> &nbsp;&nbsp;&nbsp;
						<%= link_to "sign up", new_user_registration_path, class: "btn btn-success" %>	
					</p>
			<% end %>
		</div>

</body>