<h1>About us</h1>
<p>KickTheList is a collection of the worlds doers, movers and shakers; they understand one thing. That is, to never pass up an opportunity to experience what you desire, life is too short!  

<p>We created kickthelist to inspire people to accomplish their dreams and live life to the fullest. To travel, be more adventurous, and do awesome things! It all starts with a list of awesome things to do. Create yours, and #KickTheList 
</p>