<body background="https://s3.amazonaws.com/kickthelist/media/images/CityScape.jpg">
<br><br><br><br><br><br>
		<div class="jumbotron center">

				
				<h1>About #KickTheList</h1> 

				<h2><p>KickTheList was created to inspire people to live life to the fullest by listing and accomplishing their goals and dreams! To be more adventurous. To travel more. To do more cool stuff, what ever it may be! We believe that we can help change the world by helping people to accomplish their goals and live happier lives.  
				<p>

				<p><br> To get in touch with us, drop us a line at: <a href="mailto:team@kickthelist.com">team@kickthelist.com</a>
				</h2>
				<p><br>
					<%= link_to "Take the #{}KickthelistChallenge", new_user_registration_path, class: "btn btn-success" %>
		</div>


</body>