<h1>About us</h1>
<p>KickTheList is a community of doers. The movers and shakers that don't sit around idle while life passes by. If you're readin this, it's not to late! Get out there, get connected, and get things done. Don't brandish your accomplishments. Do more.</p>