<body background="https://s3.amazonaws.com/kickthelist/media/images/CityScape.jpg">
		<div class="container center">

				<h1>About #KickTheList</h1> 

				<p>KickTheList was created to inspire people to live life to the fullest and accomplish their dreams! To be more adventurous. To travel more. To do more cool stuff! Some people already have a list of things they want to do and just need a little kick. Create yours, and #KickTheList! 

				<p>People that use #KickTheList are among the World's doers, movers and shakers. They understand that you should never pass up an opportunity to experience what you desire. 
 
				</p>

		</div>

</body>