<body background="https://s3.amazonaws.com/kickthelist/media/images/CityScape.jpg">
<br><br><br><br><br><br>
		<div class="jumbotron center">

				
				<h2>About KickTheList</h2> 

				<h2> 
					<p>
						KickTheList was created to inspire people to live life to the fullest by listing and accomplishing all that they dream! To be more adventurous. To travel more. To try new foods and do more cool stuff.  
					<p>
							We believe that every person on earth has the potential to accomplish everything they dream; and that the world would be a better place if more people did. We invite you to take the KickTheList challenge and join the movers and shakers of the world that are living out their dreams! List the things you want to accomplish, share it with your friends and challenge them to do the same.
				
				<p><h2> Are you up for the challenge? </h2> 

					<p><br>
					<%= link_to "Challenge Accepted", new_user_registration_path, class: "btn btn-success" %>

					<p><br> If you want to connect with us, drop us a line at: <a href="mailto:team@kickthelist.com">team@kickthelist.com</a>
				</h2>
		</div>


</body>