<div class="jumbotron center">
	<h1>KickTheList</h1>
	<p>Brandish your accomplishment, do more.</p>
<%= link_to "log in","#", class: "btn btn-default" %>
<%= link_to "sign up","#", class: "btn btn-primary" %>	