<body background="https://s3.amazonaws.com/kickthelist/media/images/CityScape.jpg">
<br><br><br><br><br>
		<div class="jumbotron center">

				
				<h2>How It Works</h2>

				<h1> 1. </h1>

				<h2><p> Create a list of things you want to do. </h2> 
				<br>
				</div>

				<div class="jumbotron center">
				<h1> 2. </h1>

				<h2><p> Do all the awesome things you listed! </h2> 
				<br>
				</div>

				<div class="jumbotron center">
				<h1> 3. </h1>

				<h2><p>Discover more, list and repeat. <p> 
				<br>

					<%= link_to "sign up", new_user_registration_path, class: "btn btn-success btn-lg", style: "padding-right: 60px; padding-left: 60px" %>
				</div>
		</div>


</body>