<body background="https://s3.amazonaws.com/kickthelist/media/images/CityScape.jpg">
<br><br><br><br><br>
		<div class="jumbotron center">

				
				<h2>How It Works</h2>

				<h1> 1. </h1>

				<h2><p> Create a list of awesome things you've done. <p>Only if you counts if you upload a picture. </h2> 
				<br>
				</div>

				<div class="jumbotron center">
				<h1> 2. </h1>

				<h2><p> Create a list of things you want to to. <p>(think, bucket list) </h2> 
				<br>
				</div>

				<div class="jumbotron center">
				<h1> 3. </h1>

				<h2><p> Upload pictures and repeat. <p>You can also discvoer people doing new and similar things. </h2> 
				<br>

					<%= link_to "sign up", new_user_registration_path, class: "btn btn-success btn-lg", style: "padding-right: 60px; padding-left: 60px" %>
				</div>
		</div>


</body>