<body background="https://s3.amazonaws.com/kickthelist/media/images/CityScape.jpg">
<br><br><br><br><br>
		<div class="jumbotron center">

				
				<h2>How It Works</h2>

				<h1> 1. </h1>

				<h2><p> Create a list of things you want to do or accomplish. It can be anything! </h2> 
				<br>
				</div>

				<div class="jumbotron center">
				<h1> 2. </h1>

				<h2><p> Share it with your friends and challenge them to create and share lists of their own </h2> 
				<br>
				</div>

				<div class="jumbotron center">
				<h1> 3. </h1>

				<h2><p>Go out and start accomplishing your dreams! List more and Repeat. <p> 
				<br>

					<%= link_to "sign up", new_user_registration_path, class: "btn btn-success btn-lg", style: "padding-right: 60px; padding-left: 60px" %>
				</div>
		</div>


</body>